


.playboard {
  border: 2px solid black;
  height: 700px;
  width: 600px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.tile-box {
  align-items: center;
  width: 429px;
  display: flex;
  flex-wrap: wrap;
  flex: 0;
  justify-content: center;
}

.tiles {
  margin: 20px;
  border: 2px solid black;
  height: 100px;
  width: 100px;
}
