

body {
  background-color: #ffebcd;
}

.headlines {
  height: 300px;
}

.playboard {
  border: 7px solid black;

  height: 800px;
  width: 700px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile-box {
  align-items: center;
  width: 429px;
  display: flex;
  flex-wrap: wrap;
  flex: 0;
  justify-content: center;
  margin: 30px;
}

.tiles {
  margin: 15px;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  align-content: center;
  text-align: center;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
}

.move-output {
  height: 10px;
}

.turn-update {
  height: 10px;
}

#name {
  width: 90px;
  margin: 10px;
}

