body {
  align-items: center;
}


#playboard {
  border: 2px solid black;
  height: 640px;
  width: 600px;
  display: grid;
  grid-row: repeat(3, 1fr);
  grid-column: repeat(3 1fr);
  align-items: center;
  justify-content: center;
}

td {
  margin: 30px;
  border: 2px solid black;
  height: 80px;
  width: 90px;
}