

body {
  background-color: #ffebcd;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.headlines {
  width: 100%;
  min-width: 0;
  height: 300px;
  display: flex;
  flex-direction: column;
  grid-template-rows: repeat(5, 1fr);
}

.header, .instructions {
  width: 100%;
  font-size: 1.2rem;
  word-break: break-word;
  height: 10px;
  align-self: center;
  width: 500px;
  text-align: center;
}

.playboard {
  background-color: aliceblue;
  border: 7px solid black;
  width: 95vw;
  max-width: 500px;
  min-width: 450px;
  padding-bottom: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile-box {
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

}

.tiles {
  width: 28vw;
  max-width: 100px;
  min-width: 60px;
  margin: 30px;
  border: 2px solid black;
  height: 28vw;
  max-height: 100px;
  min-height: 60px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.move-output, .turn-update {
  height: 10px;
  text-align: center;
  font-size: 1rem;
  word-break: break-word;
}

label {
  text-align: center;
  
}

#name-1, #name-2 {
  width: 90px;
  margin: 10px;
}

#submit-1, #submit-2 {
  height: 25px;
  margin: 7px;
  border-radius: 20px;
}

.names {
  margin: 12px;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  gap: 8px;
}

#start, #reset {
  height: 30px;
  border-radius: 20px;
}

.names label, .names input, .names button {
  font-size: 1rem;
}

@media (max-width: 600px) {
  .playboard {
    border-width: 3px;
    padding-bottom: 10px;
  }
  .tiles {
    font-size: 1.2rem;
    margin: 1vw;
  }
  .header, .instructions {
    font-size: 1rem;
  }
  .names label, .names input, .names button {
    font-size: 0.9rem;
  }
  .tile-box {
    width: 100%;
    margin: 0;
  }
}